<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyyu.manager.dao.TagTypeMapper">
    <resultMap id="BaseResultMap" type="com.yyyu.manager.pojo.TagType">
        <id column="type_id" jdbcType="INTEGER" property="typeId"/>
        <id column="typeName" jdbcType="VARCHAR" property="typeName"/>
        <id column="typeDescription" jdbcType="VARCHAR" property="typeDescription"/>
    </resultMap>

    <select id="getTagType" resultMap="BaseResultMap" >
        SELECT type_id , type_name , type_description
         FROM tag_type
    </select>

</mapper>